.report-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    background-color: #fff;
}


#circle-ex{
    color: #950202;
}

#circle-ex:hover{
    color: #c50101;
}

.thank-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    animation: fade-in 0.3s ease-in-out;
}

.report-modal {
    display: none; 
    position: fixed;
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75); 
    align-items: center;
    justify-content: center;
    animation: fade-in 0.3s ease-in-out;
}

.report-modal-content {
    position: relative;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 450px;
    margin-left: 20px;
    margin-right: 20px;
    animation: slide-up 0.4s ease-in-out;
}

.report-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    line-height: 1;
    color: #666;
    cursor: pointer;
}

.report-close:hover {
    color: #000;
}

#report-title {
    margin: 0;
    color: #333;
    font-size: 1.75rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}


.report-option {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 1rem;
    color: #444;
    user-select: none;
    
}

.report-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
}

.report-option:hover input ~ .checkmark {
    background-color: #f0f0f0;
}

.report-option input:checked ~ .checkmark {
    background-color: #007bff;
    border-color: #007bff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.report-option input:checked ~ .checkmark:after {
    display: block;
}

.report-option .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

input[type=submit] {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: #aa0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: #820101;
}

#thank-you-message {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
    animation: fade-in 0.3s ease-in-out;
}

#thank-you-close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #cfcfcf;
    border: none;
    border-radius: 4px;
}


